<div class="row">
	<div class="col-3 offset-9">
		<div class="form-group">
			<input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="search">
		</div>
	</div>
</div>
<div class="card">
	<div class="table-responsive">
		<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
			<thead>
				<tr><th>#</th><th>Date Registered</th><th>Last Name</th><th>First Name</th><th>Middle Name</th><th></th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in filterData = (profiles | filter:search) | pagination: currentPage:pageSize">
					<td>{{$index+1}}</td><td>{{p.DateRegistered}}</td><td>{{p.LastName}}</td><td>{{p.FirstName}}</td><td>{{p.MiddleName}}</td>
					<td>
						<button type="button" class="btn btn-primary ml-auto" ng-click="app.jobSeeker(this,p)"><i class="fe fe-edit-3"></i></button>
						<button type="button" class="btn btn-danger ml-auto" ng-click="app.delete(this,p)"><i class="fa fa-times"></i></button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" style="text-align: center;">
						<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>