<form name="formHolder.reg_jobseeker" class="card" novalidate autocomplete="off">
	<div class="card-header">
        <h3 class="card-title">New Job Seeker Info</h3>
    </div>
	<div class="card-body">
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Date Registered</label>
				  <input type="date" class="form-control" ng-class="{'is-invalid': formHolder.reg_jobseeker.DateRegistered.$touched && formHolder.reg_jobseeker.DateRegistered.$invalid}" name="DateRegistered" ng-model="reg_jobseeker.DateRegistered" required>
				  <div class="invalid-feedback">This field is required</div>
				</div>
			</div>		
		</div>
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Last Name</label>
				  <input type="text" class="form-control" ng-class="{'is-invalid': formHolder.reg_jobseeker.LastName.$touched && formHolder.reg_jobseeker.LastName.$invalid}" name="LastName" ng-model="reg_jobseeker.LastName" required>
			      <div class="invalid-feedback">This field is required</div>
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">First Name</label>
				  <input type="text" class="form-control" ng-class="{'is-invalid': formHolder.reg_jobseeker.FirstName.$touched && formHolder.reg_jobseeker.FirstName.$invalid}" name="FirstName" ng-model="reg_jobseeker.FirstName" required>
			      <div class="invalid-feedback">This field is required</div>				  
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Middle Name</label>
				  <input type="text" class="form-control" ng-class="{'is-invalid': formHolder.reg_jobseeker.MiddleName.$touched && formHolder.reg_jobseeker.MiddleName.$invalid}" name="MiddleName" ng-model="reg_jobseeker.MiddleName" required>
			      <div class="invalid-feedback">This field is required</div>				  
				</div>
			</div>			
		</div>
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Gender</label>
				  <select class="form-control" name="Sex" ng-model="reg_jobseeker.Sex">
					<option value="MALE">MALE</option>
					<option value="FEMALE">FEMALE</option>
				  </select>
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Birthday</label>
				  <input type="date" class="form-control" name="DateOfBirth" ng-model="reg_jobseeker.DateOfBirth">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Marital Status</label>
				  <select class="form-control" name="CivilStat" ng-model="reg_jobseeker.CivilStat">
					<option value="SINGLE">SINGLE</option>
					<option value="MARRIED">MARRIED</option>
					<option value="ANNULLED">ANNULLED</option>
					<option value="WIDOWED">WIDOWED</option>
					<option value="SEPARATED">SEPARATED</option>
				  </select>
				</div>
			</div>			
		</div>
		<div class="row">
           <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Height</label>
				  <input type="text" class="form-control" name="Height" ng-model="reg_jobseeker.Height">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Weight</label>
				  <input type="text" class="form-control" name="Weight" ng-model="reg_jobseeker.Weight">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Address</label>
				  <input type="text" class="form-control" name="Address" ng-model="reg_jobseeker.Address">
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">School</label>
				  <input type="text" class="form-control" name="School" ng-model="reg_jobseeker.School">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Course</label>
				  <input type="text" class="form-control" name="EducAttain" ng-model="reg_jobseeker.EducAttain">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Year Graduated</label>
				  <input type="number" class="form-control" name="YearGraduated" ng-model="reg_jobseeker.YearGraduated">
				</div>
			</div>			
		</div>
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Job</label>
				  <input type="text" class="form-control" name="Job" ng-model="reg_jobseeker.Job">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Placement</label>
				  <select class="form-control" name="JobPlacement" ng-model="reg_jobseeker.JobPlacement">
					<option value="LOCAL">LOCAL</option>
					<option value="ABROAD">ABROAD</option>
				  </select>
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Prof. Licenses</label>
				  <input type="text" class="form-control" name="Licence" ng-model="reg_jobseeker.Licence">
				</div>
			</div>			
		</div>
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Years of Experience</label>
				  <input type="number" class="form-control" name="YearsofWorkExp" ng-model="reg_jobseeker.YearsofWorkExp">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Occupational Skills</label>
				  <input type="text" class="form-control" name="OccupationalSkill" ng-model="reg_jobseeker.OccupationalSkill">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Current Job Status</label>
				  <select type="text" class="form-control" name="emp_stat" ng-model="reg_jobseeker.emp_stat">
					<option value="EMPLOYED">EMPLOYED</option>
					<option value="UNEMPLOYED">UNEMPLOYED</option>
				  </select>
				</div>
			</div>			
		</div>
		<div class="row">
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Contact Number</label>
				  <input type="text" class="form-control" name="PhoneNo" ng-model="reg_jobseeker.PhoneNo">
				</div>
			</div>
            <div class="col-lg-4">
				<div class="form-group">
				  <label class="form-label">Email Address</label>
				  <input type="text" class="form-control" name="EmailAddress" ng-model="reg_jobseeker.EmailAddress">
				</div>
			</div>			
		</div>
	</div>
	<div class="card-footer text-right">
        <div class="d-flex">
            <a href="javascript:;" class="btn btn-link" ng-click="app.cancel(this)" ng-disabled="btns.cancel.disabled">{{btns.cancel.label}}</a>
            <button type="button" class="btn btn-primary ml-auto" ng-click="app.save(this)" ng-disabled="btns.ok.disabled">{{btns.ok.label}}</button>
		</div>
    </div>
</form>